header {
  text-align: center;
  padding: 60px 20px 40px;
}

body {
  background: radial-gradient(circle at top, #0a0a12 0%, #020209 70%);
  color: #e8e8ff;
  font-family: "Yu Gothic", sans-serif;

  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  color: #00f6ff;
  letter-spacing: 0.15em;
  text-shadow: 0 0 10px #00e6ff;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
}

.sub {
  margin-top: 8px;
  color: #ff31f5;
  letter-spacing: 0.2em;
  font-size: 14px;
  opacity: 0.8;
}
/* メイン枠 */
.container {
  margin: 0 auto;
  padding: 0 20px 10px;
}

.play-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: linear-gradient(90deg, #b731ff, #10bdc3);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,255,255,0.4);
}
/* ボックス */
.transcript {
  margin-top: 40px;
  padding: 30px 35px;
  background: rgba(10, 10, 20, 0.55);
  border: 1px solid rgba(0,255,255,0.3);
  border-radius: 6px;
  box-shadow:
    0 0 12px rgba(0,255,255,0.2),
    inset 0 0 12px rgba(255,0,255,0.2);
  backdrop-filter: blur(3px);
  line-height: 1.9;
  transition: all 0.6s ease;
}

/* 表示非表示 */
.transcript.hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 35px;
}

.ハッシュタグ {
  color: #00f6ff;
}
.ハッシュタグ:hover {
  color: #1da4a9;
}

.リンクの色 {
  color: rgba(228, 219, 222, 0.8);
  text-decoration: none;
  padding-bottom: 50px;

  font-size: 14px;
}
a:hover {
  color: #ff31f5;
}

@media (max-width: 768px) {
body {
    margin-left: 13px;
    margin-right: 13px;

    font-size: 17px;
}

.リンクの色 {
  font-size: 15px;
}

.container {
  padding: 0 10px 5px;
}
.transcript {
  padding: 15px 20px;
}
}