.リンクの色{
    color: #ffffff;
    text-decoration: none;

    font-size: clamp(14px, 1vw, 10px);
}

a:hover {
    color: #ff31f5;
}

body {
  margin: 0;
  background: #050510;
  color: #e8e8ff;
  font-family: "Yu Gothic", sans-serif;

   max-width: 900px;
  margin: 0 auto;
  padding: 0 20px 10px;
}
@media screen and (max-width: 768px) {
  body{
    background-attachment: scroll;
    background-size: contain;
    background-position: top;

    font-size: 16px;
  }
}

/* タイトル */
.mag-header {
  max-width: 850px;
  margin: 70px auto 40px;
  padding: 0 40px;
  text-align: center;
}

.mag-header .issue {
  color: #0ff;
  letter-spacing: 0.25em;
  font-size: 14px;
  margin-bottom: 15px;
  opacity: 0.8;
}

/* 本文の魔術めいた枠 */
.article-box {
  max-width: 850px;
  margin: 0 auto 5px;
  padding: 40px 50px;
  
  border: 1px solid rgba(0, 255, 255, 0.4);
  border-radius: 6px;

  box-shadow:
    0 0 10px rgba(0,255,255,0.15),
    inset 0 0 12px rgba(255,0,255,0.15);

  backdrop-filter: blur(4px);
  background: rgba(5, 5, 20, 0.45);
  line-height: 2.2;
}

.article-box p {
  margin: 1.6em 0;
}


.mag-header .title {
  font-size: 32px;
  letter-spacing: 0.15em;
  color: #ff31f5;
  text-shadow: 0 0 8px #ff31f5;

  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  body{
    font-size: 16px;
  }
}
