body {
    background-color: rgb(0, 0, 0);
    color: #e0dfdf;
    padding-top: 50px;
    padding-bottom: 50px;

    max-width: 800px;
    margin: 0 auto;
    
    font-family: "Arial", sans-serif;
}

h1 {
  font-size: 38px;
}

img {
  width: 100%;
  max-width: 800px;
  height: auto;
  aspect-ratio: 2 / 1;
  margin: 20px auto;
  overflow: hidden;

  object-fit: cover;
  display: block;
}

.document_2 {
  font-size: 32px;
  font-family: "Yu Mincho", "Hiragino Mincho ProN", serif;
  font-weight: 400;
}
.bg {
  position: fixed;
  inset: 0;
  background: url("image/neoncity_1.png") center / cover no-repeat;
  z-index: -1;
}
.content {
  padding: 10px;
  background: rgba(43, 10, 21, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 6px;
  line-height: 2.1;
}

.document_3 {
  font-family: "Yu Mincho", "Hiragino Mincho ProN", serif;
  font-weight: 500;
}

.リンクの色 {
  color: rgba(228, 219, 222, 0.8);
  text-decoration: none;

  font-size: 14px;
}
a:hover {
  color: #ff31f5;
}

.Aaa{
  text-align: center;
}

@media (max-width: 768px) {
body {
    margin-left: 20px;
    margin-right: 20px;

    font-size: 17px;
}
.document_2 {
  font-size: 28px;
}

.リンクの色 {
  font-size: 15px;
}
}
