body {
  padding-top: 40px;

  
  color: #ededed;

  margin-bottom: 50px;
  margin-left: 80px;
  margin-right: 80px;

   font-family: "Yu Gothic", sans-serif;

  background-image: url("neon_city_2_2.png"); /* ← ここに画像指定 */
  background-size: cover;
  
  background-attachment: fixed; /* ← 背景固定して文字だけスクロール */
}
/* 背景のフィルタ */
.content {
  max-width: 2000px;
  margin: 0px auto;
  padding: 10px;
  background: rgba(43, 10, 21, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 6px;
  line-height: 2.1;
}

.リンクの色{
    color: #ffffff;
    text-decoration: none;

    font-size: clamp(14px, 1vw, 10px);
}

a:hover {
    color: #ff31f5;
}

header {
   font-size: 32px;
   font-family: "Yu Mincho", "Hiragino Mincho ProN", serif;
   font-weight: 400; /* 太め */

}
