@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 80px;

  background: radial-gradient(circle at top, #0a0f2c 0%, #010108 40%, #000 100%);
  color: #ffffff;

  font-family: "Arial", sans-serif;
}


/* ---------------------
   タイトル
--------------------- */
.top {
  text-align: center;
  z-index: 5;
}

.neon {
  font-size: clamp(40px, 7vw, 110px);
  font-weight: bold;
  letter-spacing: 0.15em;
  color: #ff31f5;

  text-shadow:
    0 0 4px #ffffff,
    0 0 10px #ff31f5,
    0 0 25px #ff31f5,
    0 0 40px #00f6ff,
    0 0 60px rgba(255, 0, 255, 0.5);

  animation:
    glow 3s ease-in-out infinite,
    flicker 4s infinite steps(1, end);
}

/* サブテキスト */
.sub {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 0.3em;
  color: rgba(230, 136, 192, 0.6);
}

/* ---------------------
   アニメーション
--------------------- */

/* ほんのり明るさが揺れる */
@keyframes glow {
  0%   { filter: brightness(0.9); }
  50%  { filter: brightness(1.15); }
  100% { filter: brightness(0.9); }
}

/* 不規則なチカチカ（スラムの電力不安定） */
@keyframes flicker {
  0%   { opacity: 1; }
  3%   { opacity: 0.4; text-shadow: none; }
  6%   { opacity: 1; }
  10%  { opacity: 0.6; }
  12%  { opacity: 1; }
  20%  { opacity: 0.2; text-shadow: none; }
  22%  { opacity: 1; }
  35%  { opacity: 0.85; }
  55%  { opacity: 1; }
  58%  { opacity: 0.3; text-shadow: none; }
  60%  { opacity: 1; }
  100% { opacity: 1; }
}

/* ---------------------
   動きを減らす設定
--------------------- */
@media (prefers-reduced-motion: reduce) {
  .neon {
    animation: none;
  }
}


.main-text {
  margin-top: 40px;
  max-width: 700px;
  line-height: 1.8;
  font-size: 15px;
  color: rgba(228, 219, 222, 0.8);
}

 .text-block {
  position: relative;
  background: rgba(0, 0, 0, 0.35);
  padding: 25px;
  margin-bottom: 50px;
}

.text-block::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  height: 50px; /* 好きな長さに */
  width: 3px;
  background: linear-gradient(
    to bottom,
    #ff31f5,
    rgba(255, 49, 245, 0.1)
  );
}

.リンクの色 {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ff31f5;
}

/* ミスったら消す */
.record-section {
  padding: 0 50px;
  margin-top: 60px;
}

#recordBtn {
  background: transparent;
  border: 1px solid #ff31f5;
  color: #ff31f5;
  padding: 10px 18px;
  font-size: 14px;
  letter-spacing: 0.2em;
  cursor: pointer;
  text-align: left;
}

#recordBtn:hover {
  box-shadow: 0 0 10px rgba(255, 49, 245, 0.8);
}

.record {
  margin-top: 30px;
  padding: 25px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 255, 255, 0.3);
  font-family: monospace;
}

.record-text {
  color: #00f6ff;
  font-size: 16px;
  margin-bottom: 15px;

   text-align: left;
}

.record span {
  color: #ff31f5;
}

.hidden {
  display: none;
}


