body {
  background: #eceaea;
  color: #000000;
  font-family: "Yu Gothic", sans-serif;

  background-image: url("image/doc_0.png"); /* ← ここに画像指定 */
  background-size: cover;
  
  background-attachment: fixed; /* ← 背景固定して文字だけスクロール */

  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px 10px;
}
.リンクの色{
  color: rgb(0, 0, 0);
  text-decoration: none;

  font-size: 14px;
}

a:hover {
    color: #f72e99;
}

.hashtag-header {
  font-size: 22px;
  text-align: center;
  margin: 50px 0;
  color: #323435;

  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
}

.posts {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;
}

.post-card {
  background: rgb(222, 222, 222);
  border: 1px solid rgba(173, 173, 173, 0.258);
  backdrop-filter: blur(5px);
  border-radius: 6px;
  padding: 20px 25px;
  margin-bottom: 25px;
  box-shadow: 0 0 10px rgba(84, 84, 84, 0.255);
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #676767;
}

.post-text {
  margin-bottom: 15px;
}

.post-img {
  width: 100%;
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  body{
    font-size: 17px;
  }
  .リンクの色 {
  font-size: 15px;
}
}

